# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# Environment & Virtualenv
.env
.venv/
venv/
ENV/
env/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store
smart_backend-1/